
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Expletus Sans', Arial, Helvetica, sans-serif;
    list-style: none;
}

.grid-container {
    overflow: hidden;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 25% 25%;
    grid-template-rows: 40% 40%;
    gap: 10%;
    background-color: #FFFFFF;
    height: 100vh;
}

.grid-container div a {
    padding: 0px 150px 0px 150px;
    color: black;
}

.grid-container div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 90px;
    font-weight: 600;
    box-shadow: 15px  15px black;
}

.grid-container div:active{
    box-shadow: 15px 15px 15px 15px white ;
    transition: 0.5s;
    transform: translateY(7px);

}


#addition {
    background-color: limegreen;
}

#subtraction {
    background-color: goldenrod;
}

#multiplication {
    background-color: #FD0000;
}

#division {
    background-color: #1100FB;
}

footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: white;
    background: #7200be;
    width: 100%;
}

footer a{
    color: black;
}


@media only screen and (max-width: 960px) {
    .grid-container {
        grid-template-columns: 40% 40%;
        grid-template-rows: 35% 35%;
    }
    a{
        text-decoration: none;
        padding: 0px 75px 0px 75px;
        color: black;
    }
}
