@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

html,
body {

    font-family: 'Expletus Sans', Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;

}

p{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
}

.card{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
    border: 5px solid gold;
    background-color: goldenrod;
    margin: 1px;
}



 .card:hover button{
    margin-bottom: 8px;
    opacity: 1;
} 


.con-text{

    position: absolute;

} 

button{ 
    opacity: 0;
    margin-bottom: -800px;
    border-radius: 12px;
    background:  goldenrod;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all .25s ease;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .95rem;
    outline:groove;
    height: 50px;
    width: 100px;
    font-weight: bold;

}


button:hover{
    background: #fff;
    color:  gold;
    border: 2px solid  gold;
}

button:active{
    transform: translateY(4px);
}

.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color:  gold;
    border: none;
    border-radius: 15px;
}

.button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    z-index: 50;
}

.button:hover {
    background-color: gold;
}

.button:active {
    background-color: gold;
    transform: translateY(4px);
}